body {
  font-family: "Windsong", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("paper.jpg");
  margin: 30em;
}

#start {
  text-decoration: none;
  color: black;
  font-size: 2em;
  padding: 1em;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #403d39;
  transition: all 0.35s;
  background-color: rgba(235, 235, 235, 0.2);
}

#start:hover {
  border-color: #dad7cd;
  color: #dad7cd;
  transform: translateX(0.15em);
  text-shadow: 1px 1px black;
}
