body {
    background-color: #EDF2F4;
}

h1, h2 {
    color: #8D99AE;
    text-align: center;
    font-weight: normal;
    letter-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#always {
    display: block;
    margin: auto;
    width: 50%;
}

#onep {
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
}

#twop {
border: 2px solid grey;
border-radius: 15px;
padding-left: 30px;
padding-right: 30px;
}

#oneid {
    border: 1px solid greenyellow;
    border-radius: 10px;
    padding: 30px;
}

a {
text-decoration: none;
color: black;
}

p, div {
    line-height: 2;
    width: 200px;
    height: 700px;
}

hr {
    width: 85%;
}