.grid {
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  background-color: grey;
}
.grid div {
  height: 38px;
  width: 38px;
  border: 1px solid black;
}
.checked {
  background-color: green;
}
