.grid {
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  background-color: grey;
}
.grid div {
  height: 40px;
  width: 40px;
}
.checked {
  background-color: green;
}
.bomb {
  background-color: red;
}
