* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Oswald", sans-serif;
}
h1 {
  color: white;
  font-size: 90px;
  line-height: 1.05em;
  text-align: center;
}
.span_1 {
  color: #a59678;
}
.main {
  padding: 5em 1em;
  background: #3b4050;
}
.logo {
  height: 30px;
  margin-left: 0.75em;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  background-color: #2e323f;
}
.main_p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 2em;
  text-align: center;
  display: flex;
}
.btn_p {
  cursor: pointer;
  background-color: #a59678;
  color: #fff;
  margin: 0 auto;
  padding: 0.25em 1.25em;
  border-radius: 100px;
  border: none;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
}
.first-part,
.second-part,
.left-side {
  padding: 1em;
  text-align: center;
}
.first-part {
  background-color: #efe9e5;
}
.first-part h3 {
  color: #a59678;
  font-size: 30px;
  padding: 0.5em;
}
.first-part p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1em;
}
.second-part h2 {
  color: #a59678;
  font-size: 36px;
}
.second-part p {
  font-size: 21px;
  font-family: "Montserrat", sans-serif;
}
img {
  padding: 1em;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1200px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 2em;
}
.nav {
  display: flex;
  flex-direction: row;
  padding: 2em 0;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.nav_list {
  list-style: none;
  padding: 1em 0;
}
.li_list {
  padding: 0.25em 0;
  text-align: center;
}
.nav_link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  list-style: none;
}
.sign_up_btn {
  background-color: #a59678;
  border-radius: 100px;
  padding: 4px 8px;
}
