* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  color: white;
  margin: 0 auto;
  width: 100%;
  padding: 2em 5em 2em 10em;
  background: #23424a;
}
.text-part {
  max-width: 750px;
}
.heading1 {
  font-size: 3rem;
  margin-bottom: 0;
}
.lorem1 {
  margin-top: 20px;
  padding-bottom: 2em;
}
.lorem1,
.btn {
  font-size: 1.5rem;
}
.btn {
  background-color: #38cfd9;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #072a2d;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 30px;
  display: inline-block;
}
.titles {
  color: #87629a;
}
.row {
  display: flex;
  margin: 0 200px 0 200px;
  text-align: center;
}
.col {
  width: 100%;
}
.darker {
  background-color: #136c72;
  color: white;
  width: 100%;
  display: flex;
}
